extends ../layout/layout.pug

block content
  p Your Nym profile has been reviewed by a community notary. They requested changes before your profile is fully approved. Please review the changes and submit it again.

  p Feedback given:

  pre #{feedback}

  a(href="#{profileUrl}") Edit profile

  p url #{profileUrl}
