doctype transitional
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='color-scheme' content='light dark')
  meta(name='supported-color-schemes' content='light dark')
  title

block content

//- Add footer, unsub links here?
