extends ../layout/layout.pug

block content
  p Great news!

  p Your notary application has been approved, and you can now authenticate yourself as a unique person using Nym.

  p To view your profile, just <a href="#{profileUrl}">click here</a>.
